<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
          <class name="LMSAPI.getrequests"/>
            <class name="LMSAPI.postrequests"/>
               <class name="LMSAPI.putrequests"/>
                 <class name="LMSAPI.deleterequests"/>
                                  
            <class name="JobsAPI.getrequests"/>
             <class name="JobsAPI.postrequests"/>
              <class name="JobsAPI.putrequests"/>
               <class name="JobsAPI.deleterequest"/>  
     </classes>
  </test> 
</suite> 
